* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar  */
.main-nav {
    display: flex;
    justify-content: center; /* Centers the navbar itself */
    align-items: center;    /* Vertically centers the items */
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: #222; Optional: Navbar background */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Distributes items with space between them */
    width: 80%; /* Controls the total width of the navbar */
    font-size: 20px;
    font-family: "Doto";
}
.main{
    font-family: "Faculty Glyphic";
    font-size: 1.6rem;
}
.navbar a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff; /* White text */
    padding: 10px 15px; /* Adds clickable padding around links */
    transition: color 0.3s, background-color 0.3s; /* Smooth hover effect */
}
.navbar a:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Hero section  */


#hero-section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
}

.heroh {
    font-family: "Faculty Glyphic";
    color: white;
    text-align: left;
}


.herop {
    background-image: url('image1.jpg'); 
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 10px; 
}

.name{
    margin-left: 20px;
    margin-top: 5px;
}


/* about section  */

#about-section{
    background-color: black;
    color: #b3b3b3;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.about-me{
    height: 300px;
    width: 300px;
}
.intrests{
    height: 300px;
    width: 300px;
}
.aspirations{
    height: 300px;
    width: 300px;
}
.about-h{
    text-align: center;
}
.about-p{
    padding-top: 40px;
    color: grey;
    line-height: 1.8;
    text-align: left;
}
#about-section div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* project section  */

/* Contact section  */

#contact-section{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

#contact-section div i{
    filter: invert(1);
}
.insta{
    height: 50px;
    display: flex;
}
.linkedin{
    height: 50px;
    display: flex;
}
.resume{
    height: 50px;
    display: flex;
}
.whatsapp{
    height: 50px;
    display: flex;
}
.email{
    height: 50px;
    display: flex;
}

#contact-section a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

/* footer */

footer{
    background-color: rgb(72, 72, 72);
    color: white;
    font-weight: 400;
    text-align: center;
    height: 50px;
}
.footer{
    padding: 15px;
}

